@font-face{
    font-family: 'Raleway';
    src: url('static/Raleway-Regular.ttf');
}
*{
    font-family: 'Raleway', Arial, sans-serif;    
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
main{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
h1{
    font-size: 24px;
}
a{
    cursor: pointer;
}
/**header**/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    max-width: 1440px;
    margin: auto;
}
    
.headernavlink{
    padding-top: 30px;
}

nav a{
    color: black;
    padding-top: 5px;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 25px;  
}
nav a:hover{
    border-top: 2px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
    
}
.logo{
    max-width: 125px;
    max-height: 60px;
}
/**recherche**/
form{
    width: 500px;
    height: 50px;
    border: 1px rgb(242, 242, 242) solid;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.fa-location-dot{
    background-color: rgb(242, 242, 242);
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
button{
    background-color: rgb(0, 101, 252);
    color: white;
    width: 33.83%;
    cursor: pointer;
    border: none;
}
.recherche_loupe{
    display: none;
}
.recherche_mot{
    font-size: 20px;
    font-weight: bold;
}
.search{
    width: 54.17%;
    border: none;
}
/**filtre**/
#filtres{
    display: flex;
    align-items: center;
    margin: 30px 0px 40px 0px;
}
.titre_filtres{
    margin-right: 40px;
}
.liste_filtres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    flex-wrap: wrap;
}
.icon_circle{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgb(222, 235, 255);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
}
.liste_filtres p{
    display: flex;
    align-items: center;
    border: 2px solid rgb(217 217 217);
    padding: 0px 15px 0px 60px;
    border-radius: 25px;
    font-weight: bold;
    height: 50px;
    font-weight: bolder;
}
.liste_filtres .fa-solid{
    color: rgb(0, 101, 252);
}
.filtre_bouton{
    margin-right: 25px;
    position: relative;
}
.liste_filtres a{
    color: black;
    text-decoration: none;
}
.liste_filtres p:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 101, 252);
}
/*info*/
.nombre_logement .fa-solid{
    color: rgb(0, 101, 252);
    font-size: 14px;
    padding: 5px 9px 5px 9px;
    border: solid 1px rgb(242, 242, 242);
    border-radius: 50%;
    margin-right: 10px;
  }
.nombre_logement p {
    display: inline;
  }
.nombre_logement{
    margin-bottom: 50px;
}
/*hebergement*/

#hebergement{
    display: flex;
    flex-direction: row;
    
}
#hebergement h3{
    font-size: 16px;
}
#hebergement p{
    font-size: 14px;
}
.box:hover{
    border: 1px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
}
.hebergement_marseille{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    padding: 2.25% 2.5% 2.25% 2.5%;
    flex-wrap: wrap;
    max-width: 900px;
    margin-right: 50px;
}
.hebergement_marseille h2{
    font-size: 24px;
}
.proposition{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.box{
    background-color: white;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 20px;
    padding: 2.25% 2.25% 2.5% 2.25%;
    margin: 1.4% 1.4% 0% 1.4%;
    width: 247px;
}
.photo_hebergement{
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 225px;
    height: 115px;
    margin: 5px 5px 0px 5px;
}
.contenu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
}
.etoile_box{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 5px 10px;
}
.fa-star{
    color: rgb(0, 101, 252);
}
.fa-solid.fa-star.grey{
    color: rgb(242, 242, 242);
}
.hebergement_marseille a{
    color: black;
    text-decoration: none;
    margin-bottom: 40px;
}
.contenu h3{
    margin: 5px 0px 5px 10px;
}
.contenu p{
    margin: 0px 0px 5px 10px;
}

/**populaire**/

.populaire{
    max-width: 490px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 2.25% 2.5% 2.25% 2.5%;  
}
.titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 24px;
}
.hebergement_populaire{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.image_populaire{
    object-fit: cover;
    width: 130px;
    height: 125px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 5px 10px 5px 5px;
}
.box_populaire{
    width: 346px;
    border-radius: 20px;
    background-color: white;
    padding: 5px 50px 5px 5px;
    max-height: 146px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
}
.populaire a{
    color: black;
    text-decoration: none;
}
.populaire h2{
    font-size: 24px;
}
.populaire{
    display: flex;
    justify-content: center;
}
.populaire p{
    margin-bottom: 25%;
    margin-top: 5%;
}
.populaire h3{
    margin-bottom: 0%;
}
.box_populaire:hover{
    border: 1px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
}
/**activités**/
#activité{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.activité_titre{
    font-size: medium;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.activité_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.activité_box img{
    max-width: 100%;
    border-radius: 10px 10px 30px 30px;
    object-fit: cover;
    height: 100%;
}
.activité_card_1,.activité_card_3{
    width: 305px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}
.activité_card_2,.activité_card_4{
    width: 305px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activité_card_2-1{
    height: 238px;
    width: 305px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    position: relative;
}
.activité_card_2-2{
    height: 173px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    position: relative;
}
.activité_card_4-1{
    height: 198px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    position: relative;
}
.activité_card_4-2{
    height: 210px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    position: relative;
}
#activité a:hover{
    color: rgb(0, 101, 252);
}
.activité_box a{
    text-decoration: none;
    color: black;
}

/**footer**/
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(242, 242, 242);
    bottom: 0;
    width: 100%;

}
footer ul{
    max-width: 1440px;
}
footer li{
    padding-bottom: 30px;
}
footer a{
    color: black;
}

footer h2{
    display: block;
    padding: 0px 0px 50px 40px;
}
.a_propos{
    margin-top: 50px;
}

/**mobiles**/
@media (max-width: 767px)
{
/**header**/
header{
    flex-direction: column;
}
header div{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.nav_lien1{
    margin-right: 50px;
}
nav a{
    padding-bottom: 20px;
    margin-left: 0px;
    border-bottom: 2px solid rgb(242, 242, 242);
}
nav a:hover{
    border-top: none;
    border-bottom: 3px solid rgb(0, 101, 252);
}
/**recherche**/
.recherche_mot{
    display: none;
}
form{
    width: auto;
    border: none;
}
.fa-location-dot{
    width: 60px;
}
.recherche_loupe{
    display: block;
    width: 50px;
    border-radius: 10px;
    border: none;
}
.search{
    border: 1px solid rgb(242, 242, 242);
    max-width: 300px;
}
/**filtre**/
#filtres{
    flex-direction: column;
    align-items: flex-start;
}
/**hébergement**/
#hebergement{
    flex-direction: column-reverse;
    width: 100%;
}
.hebergement_marseille{
    margin-right: 0px;
    background-color: rgb(255, 255, 255);
}
.proposition{
    flex-direction: column;
    width: 95%;
    align-content: center;
    flex-wrap: nowrap;
}
.box{
    width: 100%;
    padding: 0;
}
.photo_hebergement{
    width: 100%;
    margin: 0px;
}
.afficher_plus h2{
    font-size: 18px;

}
/**Populaire**/
.box_populaire{
    align-items: flex-start;
    width: 70%;
    box-sizing: content-box;
}
.populaire{
    border-radius: 0;
    max-width: 100%;
    margin-bottom: 50px;
}
.populaire a{
    display: flex;
    justify-content: center;
}
.hebergement_populaire{
    width: 100%;
}
.image_populaire{
    width: 40%;
}
/**activité**/
.activité_box{
    flex-direction: column;
    margin-left: 5%;
}
#activité a {
    width: 95%;
}
#activité h2{
    margin-left: 50px;
}
.activité_card_1,.activité_card_3{
    width: 100%;
    margin-bottom: 25px;
    height: 200px;
}
.activité_card_2,.activité_card_4{
    width: 100%;
}
.activité_card_2-1, .activité_card_2-2, .activité_card_4-1, .activité_card_4-2{
    width: 100%;
    margin-bottom: 25px;
    height: 200px;
}
/**footer**/
footer{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
footer h2,li{
    margin-left: 25px;
}
}
@media (min-width: 768px) and (max-width: 991px)
{
/**hebergement**/
#hebergement{
    flex-direction: column-reverse;
    width: 100%;
}
.populaire{
    max-width: none;
    margin-bottom: 50px;
}
.hebergement_marseille{
    margin-right: unset;
    margin-bottom: 50px;
}
.box{
    width: 300px;
}
.photo_hebergement{
    width: 100%;
    margin: 0px;
}
/**activité**/
.activité_box{
    flex-direction: column;
    align-items: center;
}
#activité h2{
    margin-left: 50px;
}
.activité_card_1,.activité_card_3{
    width: 700px;
    margin-bottom: 25px;
    height: 250px;
}
.activité_card_2,.activité_card_4{
    width: 700px;
    height: unset;
}
.activité_card_2-1, .activité_card_2-2, .activité_card_4-1, .activité_card_4-2{
    width: 700px;
    margin-bottom: 25px;
    height: 250px;
}
/**footer**/
footer h2{
    padding: 0 0 50px 0;
}
footer ul{
    padding-left: 0px;
}
}
@media (min-width: 992px) and (max-width: 1440px)
{
.activité_card_1, .activité_card_3{
    width: 100%;
}
.activité_box a{
    width: 21%;
}
.activité_card_2, .activité_card_4{
    width: 21%;
}
.activité_card_2 a, .activité_card_4 a{
    width: 100%;
}
.activité_card_2-1{
    width: 100%;
}
}